.col-select{
    background: white;
    padding: 0;
    width: 20%;
}

.nav-pills .nav-link{
    height: 50px;
    padding-top: 13px;
    margin: 0;
    border-radius: 0;
    font-size: 17px;
}
.nav-pills .nav-link.active{
    background-color: #0dfd41;
    
}
.nav-pills .nav-link:hover{
    background-color: gray;
    
}
.icon-select{
    font-size: 22px;
}